@use "@/styles/spacing.scss" as spacing;
@use "@/styles/typography.scss" as typography;

.tag {
  display: flex;
  align-items: center;

  gap: spacing.$spacing-component-xxs;
  padding: spacing.$spacing-component-xxs spacing.$spacing-component-s;

  background-color: var(--color-background);
  color: var(--color-text-tag);
  border: 1px solid var(--color-border-tag);

  /*border-radius*/
  border-radius: 0.5rem;
  user-select: none;
}

.icon {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}

.tagLabel {
  @include typography.body-xxs;
  color: var(--color-foreground);
}
