@use "@/styles/spacing.scss" as spacing;
@use "@/styles/typography.scss" as typography;

.tag {
  display: flex;
  align-items: center;

  gap: spacing.$spacing-component-xxs;
  padding: spacing.$spacing-component-xxs spacing.$spacing-component-s;

  /*color var*/
  background-color: var(--color-background);

  /*color var*/
  color: #595959;

  /*color var*/
  border: 1px solid #9595954d;

  /*border-radius*/
  border-radius: 0.5rem;
  user-select: none;
}

.icon {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}

.tagLabel {
  @include typography.body-xxs;
  color: var(--color-foreground);
}
