@import '@/styles/spacing.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 3;
  gap: $spacing-component-ml;
  position: sticky;
  height: fit-content;
  min-width: 10rem;
  top: 4rem;
  padding-bottom: $spacing-component-xxl;
  padding-left: $spacing-component-xl;
  padding-right: $spacing-component-xl;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
}

.languagesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-component-xs;
  justify-content: center;
}