.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 3;
  gap: 1.5rem;

  position: sticky;
  height: fit-content;
  min-width: 10rem;
  top: 4rem;

  padding-bottom: 5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
}

.languagesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}