@use "@/styles/typography.scss" as typography;
@use "@/styles/spacing.scss" as spacing;
@use "@/styles/borders.scss" as borders;
@use "@/styles/breakpoints.scss" as breakpoints;

.container {
  display: flex;
  position: relative;
  margin-bottom: spacing.$spacing-component-l;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  width: 100%;
  min-height: 160px;
}

.title {
  @include typography.heading-xxl;
  text-wrap: balance;
  margin: 0;

  @media (max-width: breakpoints.$breakpoint-md) {
    text-align: center;
  }
}

.role {
  @include typography.heading-m;
  color: var(--color-text-tertiary);

  @media (max-width: breakpoints.$breakpoint-md) {
    text-align: center;
  }
}

.description {
  @include typography.body-l;
  margin-bottom: spacing.$spacing-component-xxl;
  width: 100%;
  text-wrap: pretty;
}

.socialLinks {
  display: flex;
  flex-wrap: wrap;
  gap: spacing.$spacing-component-xs;
  padding-top: spacing.$spacing-component-m;
  padding-bottom: spacing.$spacing-component-xs;
  margin-bottom: spacing.$spacing-component-l;

  @media (max-width: breakpoints.$breakpoint-md) {
    justify-content: center;
  }
}

.socialLink {
  @include typography.body-xxs;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: spacing.$spacing-component-xxs;
  height: 2rem;
  min-height: 2rem;
  padding: spacing.$spacing-component-xxs spacing.$spacing-component-xs;
  border: 1px solid var(--color-border-subtle);

  /*border radius*/
  border-radius: borders.$border-radius-md;

  box-shadow: inset 0 0 0 var(--color-transparent);
  text-decoration: none;
  transition: all 0.2s ease;
}

.socialLink:hover {
  background-color: var(--color-border-subtle);
  border-color: var(--color-border-subtle);
  transform: translateY(-1px);
}

.socialLink:active {
  transform: translateY(0);
}
