@use '@/styles/typography.scss' as typography;
@use '@/styles/spacing.scss' as spacing;

.container {
  display: flex;
  position: relative;
  margin-bottom: spacing.$spacing-component-l;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  width: 100%;
  min-height: 160px;
}

.title {
  @include typography.heading-xxl;

  text-wrap: balance;

  margin: 0;
}

.role {
  @include typography.heading-m;

  color: #757575;
}

.description {
  @include typography.body-l;

  margin-bottom: spacing.$spacing-component-xxl;

  width: 100%;
  text-wrap: pretty;
}

.socialLinks {
  display: flex;
  flex-wrap: wrap;
  gap: spacing.$spacing-component-xs;

  padding-top: spacing.$spacing-component-m;

  padding-bottom: spacing.$spacing-component-xs;

  margin-bottom: spacing.$spacing-component-l;
}

.socialLink {
  @include typography.body-xxs;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: spacing.$spacing-component-xxs;
  height: 2rem;
  min-height: 2rem;

  padding: spacing.$spacing-component-xxs spacing.$spacing-component-xs;
  border: 1px solid #95959526;

  /*border radius*/
  border-radius: 1.25rem;


  background-color: #0000;
  box-shadow: inset 0 0 0 #0000;

  text-decoration: none;
  transition: all 0.2s ease;
}

.socialLink:hover {
  background-color: #95959526;
  border-color: #95959526;
  transform: translateY(-1px);
}

.socialLink:active {
  transform: translateY(0);
}
