@import '@/styles/typography.scss';
@import '@/styles/spacing.scss';

.container {
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  width: 100%;
  row-gap: $spacing-component-xl;
  column-gap: $spacing-component-xl;
  margin-bottom: $spacing-component-xl;
}

.title {
  @include heading-xl;

  /*color-primary*/
  color: #0a0a0a;

  margin-bottom: $spacing-component-ml;
}
