@import '@/styles/fonts.scss';

.container {
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  width: 100%;

  /* Move to gap var */
  row-gap: 2.5rem;
  column-gap: 2.5rem;

  /* Move to var*/
  margin-bottom: 2.5rem;
}

.title {
  @include heading-xl;

  /*color-primary*/
  color: #0a0a0a;

  /*spacing-component*/
  margin-bottom: 1.5rem;
}
