@use '@/styles/typography.scss' as typography;
@use '@/styles/spacing.scss' as spacing;

.container {
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  width: 100%;
  row-gap: spacing.$spacing-component-xl;
  column-gap: spacing.$spacing-component-xl;
  margin-bottom: spacing.$spacing-component-xl;
}

.title {
  @include typography.heading-xl;

  /*color-primary*/
  color: #0a0a0a;

  margin-bottom: spacing.$spacing-component-ml;
}
