@use '@/styles/typography.scss' as typography;
@use '@/styles/spacing.scss' as spacing;
@use '@/styles/borders.scss' as borders;

.socialLink {
  @include typography.body-xxs;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: spacing.$spacing-component-xxs;
  height: 2rem;
  min-height: 2rem;
  padding: spacing.$spacing-component-xxs spacing.$spacing-component-xs;
  border: 1px solid var(--color-border-subtle);

  border-radius: borders.$border-radius-md;

  box-shadow: inset 0 0 0 var(--color-transparent);
  text-decoration: none;
  transition: all 0.2s ease;
}

.iconWrapper {
  display: contents;
}

.socialLink:hover {
  background-color: var(--color-border-subtle);
  border-color: var(--color-border-subtle);
  transform: translateY(-1px);
}

.socialLink:active {
  transform: translateY(0);
}
