# Dependencies
node_modules

# Build outputs
.next
out
build
dist

# Package manager
pnpm-lock.yaml
package-lock.json
yarn.lock

# Environment
.env
.env.local
.env.*.local

# Other
*.log
.DS_Store
coverage
