@use "@/styles/borders.scss" as borders;
@use "@/styles/spacing.scss" as spacing;

.themeToggle {
  background: var(--color-transparent);
  border: 1px solid var(--color-transparent);
  padding: spacing.$spacing-component-xs;
  min-width: 2rem;
  min-height: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  color: var(--color-text-primary);
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;

  // Apply only for mouse devices
  @media (hover: hover) {
    &:hover {
      background: var(--color-border);
      border-radius: borders.$border-radius-md;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: none;
  }

  .lightIcon {
    display: none;
    font-size: 1rem;
  }

  .darkIcon {
    display: flex;
    font-size: 1rem;
  }
}

[data-theme="dark"] .themeToggle {
  .lightIcon {
    display: flex;
  }

  .darkIcon {
    display: none;
  }
}
