.mask {
  position: absolute;
  filter: blur();
  opacity: 0;
  transition: all ease-in-out;
  transition-duration: 2s;
  transform: translateY(0px);
  background-color: var(--color-background);
}

.maskHidden {
  opacity: 1;
}