@import '@/styles/typography.scss';

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0;
  width: 100%;

  ul {
    padding-inline-start: 40px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 0;
  width: 100%;
  position: relative;

  /*spacing-component*/
  margin-bottom: 0.25rem;
}

.title {
  @include heading-l;
}

.date {
  @include body-s;

  /*color secondary*/
  color: #757575;
}

.subtitle {
  @include body-xs;

  /*color blue*/
  color: #0279be;

  /*spacing-component*/
  margin-bottom: 1.5rem;
}

.list {
  display: flex;
  flex-direction: column;
  position: relative;
  /*spacing-component*/
  gap: 1rem;
}

.listItem {
  @include body-m;
}
