@use '@/styles/typography.scss' as typography;
@use '@/styles/spacing.scss' as spacing;

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0;
  width: 100%;

  ul {
    padding-inline-start: 40px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 0;
  width: 100%;
  position: relative;
  margin-bottom: spacing.$spacing-component-xxs;
}

.title {
  @include typography.heading-l;
}

.date {
  @include typography.body-s;

  /*color secondary*/
  color: #757575;
}

.subtitle {
  @include typography.body-xs;

  /*color blue*/
  color: #0279be;

  margin-bottom: spacing.$spacing-component-ml;
}

.list {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: spacing.$spacing-component-sm;
}

.listItem {
  @include typography.body-m;
}
