@use "@/styles/spacing.scss" as spacing;
@use "@/styles/borders.scss" as borders;
@use "@/styles/breakpoints.scss" as breakpoints;

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "region toolbar .";
  position: sticky;
  top: 0;
  z-index: 9;
  padding: spacing.$spacing-component-xs;
  align-items: center;

  @media (max-width: breakpoints.$breakpoint-md) {
    grid-template-areas: ". toolbar .";
    top: auto;
    bottom: spacing.$spacing-component-ml;
    position: fixed;
  }
}

.region {
  grid-area: region;

  @media (max-width: breakpoints.$breakpoint-md) {
    display: none;
  }
}

.toolbar {
  grid-area: toolbar;
  padding: spacing.$spacing-component-xxs;
  border: 1px solid var(--color-border-subtle);
  border-radius: borders.$border-radius-lg;

  background-color: var(--color-background);

  width: fit-content;

  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--color-text-primary);

  height: 100%;
}

.divider {
  height: 80%;
  border-left: 1px solid var(--color-border-tag);
}
