@use "@/styles/spacing.scss" as spacing;

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "region toolbar .";
  position: sticky;
  top: 0;
  z-index: 9;
  padding: spacing.$spacing-component-xs;
  align-items: center;
  height: 100%;
}

.region {
  grid-area: region;
}

.toolbar {
  grid-area: toolbar;
  padding: spacing.$spacing-component-xxs;
  /**Border properties*/
  border: 1px solid var(--color-border-subtle);
  border-radius: 1.5rem;

  background-color: var(--color-background);

  //min-width: 100%;
  //width: 0px;
  width: fit-content;

  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--color-text-primary);
}

.divider {
  height: 100%;
  border-left:1px solid var(--color-border-tag);
}
