@use "@/styles/spacing.scss" as spacing;

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  position: sticky;
  top: 0;
  z-index: 9;
  padding: spacing.$spacing-component-xs;
}

.toolbar {
  padding: spacing.$spacing-component-xxs;
  /**Border properties*/
  border-width: 1px;
  border-style: solid;
  border-radius: 1.5rem;

  color: var(--color-background);

  min-width: 100%;
  width: 0px;

  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--color-text-primary);
}

.divider {
  height: 100%;
  width: 1px;
  max-width: 1px;
  min-width: 1px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-border-tag);
}
