@use '@/styles/spacing.scss' as spacing;

.container {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 9;

    padding: spacing.$spacing-component-xs;
}

.toolbar {
    
}