@import '@/styles/spacing.scss';

.container {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 9;

    padding: $spacing-component-xs;
}

.toolbar {
    
}