@use "@/styles/spacing.scss" as spacing;
@use "@/styles/breakpoints.scss" as breakpoints;

.page {
  --background: var(--color-background-alt);
  --foreground: var(--color-neutral);

  --text-primary: var(--color-text-primary);
  --text-secondary: var(--color-text-secondary);

  --button-primary-hover: var(--color-button-primary-hover);
  --button-secondary-hover: var(--color-button-secondary-hover);
  --button-secondary-border: var(--color-button-secondary-border);

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  padding: spacing.$spacing-component-ml;

  @media (min-width: breakpoints.$breakpoint-xl) {
    padding: spacing.$spacing-component-xl;
  }
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  max-width: 64rem;

  @media (max-width: breakpoints.$breakpoint-md) {
    flex-direction: column;
  }
}

.content {
  flex: 9;
  position: relative;

  section {
    scroll-margin-top: 5rem;
  }
}
