@use '@/styles/spacing.scss' as spacing;

.page {
  --background: var(--color-background-alt);
  --foreground: var(--color-background);

  --text-primary: var(--color-text-primary);
  --text-secondary: var(--color-text-secondary);

  --button-primary-hover: var(--color-button-primary-hover);
  --button-secondary-hover: var(--color-button-secondary-hover);
  --button-secondary-border: var(--color-button-secondary-border);

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  padding: spacing.$spacing-component-xl;
}

.main {
  display: flex;
  justify-content: center;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 9;

  position: relative;
}
