.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  justify-content: center;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 3;
  gap: 1.5rem;

  position: sticky;
  height: fit-content;
  min-width: 10rem;
  top: 4rem;

  padding-bottom: 5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 9;

  position: relative;
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}
