@use '@/styles/typography.scss' as typography;
@use '@/styles/spacing.scss' as spacing;

.title {
  @include typography.heading-xl;

  color: #0a0a0a;

  margin-bottom: spacing.$spacing-component-xl;
  text-wrap: balance;
}

.content {
  display: flex;
  flex-direction: column;
  gap: spacing.$spacing-component-xl;
  width: 100%;
  min-width: 0;
  margin-bottom: spacing.$spacing-component-xl;
}
