.title {
  /*Font mixin heading*/
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.02rem;

  color: #0a0a0a;

  /*spacing-component*/
  margin-bottom: 2.5rem;
  text-wrap: balance;
}

.content {
  display: flex;
  flex-direction: column;
  /*spacing-component-l*/
  gap: 2.5rem;
  width: 100%;
  min-width: 0;

  /*spacing-component-l*/
  margin-bottom: 2.5rem;
}
