@import '@/styles/typography.scss';
@import '@/styles/spacing.scss';

.title {
  @include heading-xl;

  color: #0a0a0a;

  margin-bottom: $spacing-component-xl;
  text-wrap: balance;
}

.content {
  display: flex;
  flex-direction: column;
  gap: $spacing-component-xl;
  width: 100%;
  min-width: 0;
  margin-bottom: $spacing-component-xl;
}
