@import '@/styles/typography.scss';
@import '@/styles/spacing.scss';

.title {
  @include heading-xl;
  color: #0a0a0a;
  margin-bottom: $spacing-component-xl;
  text-wrap: balance;
}

.content {
  display: flex;
  flex-direction: column;
  gap: $spacing-component-xl;
  margin-bottom: $spacing-component-xl;
}
