@import '@/styles/fonts.scss';

.title {
  @include heading-xl;

  color: #0a0a0a;

  /*spacing-component*/
  margin-bottom: 2.5rem;
  text-wrap: balance;
}

.content {
  display: flex;
  flex-direction: column;

  /*spacing-component-l*/
  gap: 2.5rem;

  /*spacing-component-l*/
  margin-bottom: 2.5rem;
}
