@use "@/styles/spacing.scss" as spacing;
@use "@/styles/typography.scss" as typography;
@use "@/styles/breakpoints.scss" as breakpoints;

.container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: spacing.$spacing-component-ml spacing.$spacing-component-l;

  @media (max-width: breakpoints.$breakpoint-md) {
    margin-bottom: 5rem;
    padding-top: 0;
  }
}

.text {
  @include typography.body-xs;
  display: flex;
  align-items: center;
  gap: spacing.$spacing-component-xs;
  color: var(--color-text-tertiary);
}

.links {
  display: flex;
  gap: spacing.$spacing-component-sm;
}

.socialLink {
  width: 1.25rem;
  height: 1.25rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
  box-shadow: inset 0 0 0 var(--color-transparent);
  transition: all 0.2s ease;
  color: var(--color-icon);

  svg {
    width: 100%;
    height: 100%;
  }
}

.socialLink:hover {
  transform: translateY(-1px);
}

.socialLink:active {
  transform: translateY(0);
}
