@import '@/styles/typography.scss';

.container {
  display: flex;
  flex-direction: column;

  /*spacing-component*/
  gap: 0.25rem;

  width: 100%;
}

.title {
  @include heading-l;

  /*color var*/
  color: #0a0a0a;

  /*spacing-component*/
  margin-bottom: 0.25rem;
}

.description {
  @include body-m;

  /*color var*/
  color: #757575;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;

  /*spacing-component*/
  gap: 0.5rem;
  /*spacing-component*/
  padding-top: 0.5rem;
}