.container {
  display: flex;
  flex-direction: column;

  /*spacing-component*/
  gap: 0.25rem;

  width: 100%;
}

.title {
  /*font mixin*/
  font-weight: 600;
  font-size: 1.33rem;
  line-height: 1.75rem;

  /*color var*/
  color: #0a0a0a;

  /*spacing-component*/
  margin-bottom: 0.25rem;
}

.description {
  /*font mixin*/
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;

  /*color var*/
  color: #757575;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;

  /*spacing-component*/
  gap: 0.5rem;
  /*spacing-component*/
  padding-top: 0.5rem;
}