@use '@/styles/typography.scss' as typography;
@use '@/styles/spacing.scss' as spacing;

.container {
  display: flex;
  flex-direction: column;
  gap: spacing.$spacing-component-xxs;

  width: 100%;
}

.title {
  @include typography.heading-l;
  margin-bottom: spacing.$spacing-component-xxs;
}

.description {
  @include typography.body-m;

  /*color var*/
  color: #757575;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: spacing.$spacing-component-xs;
  padding-top: spacing.$spacing-component-xs;
}