@import '@/styles/typography.scss';
@import '@/styles/spacing.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: $spacing-component-xxs;

  width: 100%;
}

.title {
  @include heading-l;

  /*color var*/
  color: #0a0a0a;

  margin-bottom: $spacing-component-xxs;
}

.description {
  @include body-m;

  /*color var*/
  color: #757575;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-component-xs;
  padding-top: $spacing-component-xs;
}