@use "@/styles/borders.scss" as borders;
@use "@/styles/breakpoints.scss" as breakpoints;
@use "@/styles/spacing.scss" as spacing;

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: spacing.$spacing-component-xs;

  border-radius: borders.$border-radius-md;
  cursor: pointer;
  border: 1px solid var(--color-transparent);
  background: var(--color-transparent);
  transition: all 0.2s ease-in-out;

  height: 2rem;
  min-height: 2rem;
  padding: spacing.$spacing-component-xxs spacing.$spacing-component-xs;

  font: inherit;
  color: inherit;
  outline: none;

  &:hover {
    background: var(--color-border);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.icon {
  display: contents;
}

.content {
  display: inline-block;

  @media (max-width: breakpoints.$breakpoint-md) {
    display: none;
  }
}
